.card-row {

  width: 15%;
  padding: 5px;
}

.col {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title {
  color: #10385B;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.paragraph {
  color: #666;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: auto;
}

.bnx-card-section-info {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: auto;
  text-overflow: hide;
  padding-top: 35px;
}

#last-card {
  background-color: #2B98F7;
  padding-right: 20px;
}

.col-last {
  text-align: center;
}

.col-last {
  p {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: auto;
    opacity: 0.8;

  }

  h3 {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin: auto;
    width: 100%;
  }
}



// another card
.bnxcard {
  width: 100%;

  img {
    width: 17px;
    height: 17px;

  }

  .bnx-title {
    color: #000;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

  }

  .bnx-paragraph {
    color: #666;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 25px;

  }

}